<div class="card">
    <div class="card-footer"></div>
    <div class="card-body">
        <h2 class="text-muted">List of Product</h2>
        <table class="table table-hover table-striped">

            <thead>

                <th>Id</th>
                <th>Name</th>
                <th>Date of production</th>
                <th>Quantity of stock</th>
                <th>Quantity produced</th>
                <th>Reviews</th>
            </thead>

            <tbody>
                <tr *ngFor="let p of product">
                    <td>{{p.Id}}</td>
                    <td>{{p.Name}}</td>
                    <td>{{p.Date_of_production}}</td>
                    <td>{{p.Quantity_of_stock}}</td>
                    <td>{{p.Quantity_produced}}</td>
                    <td>{{p.Reviews}}</td>
                    <td><button class="btn btn-outline-danger" (click)="destroyproduct(p)"><i class="fa fa-trash"></i></button></td>
                    <td><button class="btn btn-outline-warning"><i class="fa fa-pen"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>