<div class="card">
    <div class="card-header"></div>

    <div class="card-body">
        <div class="col-md-4">
            <div class="alert alert-success alert-dismissable" *ngIf="msg">
                <a href="#" class="close" (click)="clickMe()">&times;</a> {{msg}}
            </div>
        </div>
        <h2 class="text-muted">Add New Material Raw</h2>

        <div class="form-group">
            <label>Id</label>
            <input type="number" class="form-control" [(ngModel)]="materialraw.Id">
        </div>

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="materialraw.Name">
        </div>

        <div class="form-group">
            <label>Provider</label>
            <input type="text" class="form-control" [(ngModel)]="materialraw.Provider">
        </div>

        <div class="form-group">
            <label>Quantity of stock</label>
            <input type="number" class="form-control" [(ngModel)]="materialraw.Quantity_of_stock">
        </div>

        <div class="form-group">
            <label>Reviews</label>
            <input type="text" class="form-control" [(ngModel)]="materialraw.Reviews">
        </div>


        <div class="card-footer">
            <button class="btn btn-success btn-block" (click)="save()">Save</button>
        </div>

    </div>